---
import BaseLayout from '../layouts/BaseLayout.astro';
import ExperiencePost from '../components/ExperiencePost.astro';
const allExperiences = await Astro.glob('../pages/experiences/*.md');
const pageTitle = "Antoine Dujardin"
---

<BaseLayout pageTitle={pageTitle}>
  <h1>Antoine Dujardin</h1>
  <h2>Featured experiences</h2>
  <ul>
    <li>
      <a href="/tags/work">work</a>
    </li>
    <li>
      <a href="/tags/personal">personal</a>
    </li>
  </ul>
  <ul>
    {allExperiences.map((experience) => <ExperiencePost experience={experience} />)}
  </ul>
</BaseLayout>