---
import BaseLayout from "../layouts/BaseLayout.astro";
import ExperiencePost from "../components/ExperiencePost.astro";
import Navigation from "../components/Navigation.astro";

const allExperiences = await Astro.glob("../pages/experiences/*.{md,mdx}");
const pageTitle = "Antoine Dujardin";
---

<BaseLayout pageTitle={pageTitle}>
  <section>
    <div class="index-title">
      <h1>Antoine Dujardin</h1>
    </div>
  </section>
  <section>
    <!-- <div class="index-title">
      <div class="nav">
        <Navigation />
        <h1 class="word">Featured experiences</h1>
        <div class="spacer"></div>
      </div>
    </div> -->
    <ul>
      {
        allExperiences.map((experience) => (
          <ExperiencePost experience={experience} />
        ))
      }
    </ul>
  </section>
</BaseLayout>

<style>
  .index-title {
    padding: 1rem 0rem;
    text-align: center;
    display: block;
    border-bottom: 0.05rem solid var(--border);
  }

  .word {
    align-self: center;
  }

  .nav {
    display: flex;
    justify-content: space-between;
  }

  .spacer {
    display: inline-block;
    margin: 0rem 3rem 0rem 1rem;
  }
</style>
